<%= render "layouts/navbar" %>
<div class="container mt-5">
	<div class="row mt-5">
		<div class="col-md-8 mx-auto mt-5">
			<h2 class="text-center mt-5 pb-5"><%= @campaign.title %></h2>
			<p class="campaign-show-paragraph h4 pb-5 text-center">
				<%= image_tag(@campaign.photo, class: "campaign-show-photo pb-5") %><br>
				<%= @campaign.content %>
			</p>
		</div>
	</div>
</div>
